{% extends "base.html" %}

{% load static %}

{% block title %}
    {% if student %}
    Редактирование студента
    {% else %}
    Добавление студента
    {% endif %}
{% endblock %}

{% block content %}

<div class="card shadow">

    <div class="card-header bg-primary text-white">

        <h3 class="mb-0">
            {% if student %}
                Редактирование студента
            {% else %}
                Добавление студента
            {% endif %}
        </h3>

    </div>

    <div class="card-body">

        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}

        <form method="post" novalidate>

            {% csrf_token %}

            <div class="row">

                <div class="col-md-6 mb-3">
                    <label class="form-label">{{ form.full_name.label }}</label>
                    {{ form.full_name }}
                    {% if form.full_name.errors %}
                        <div class="invalid-feedback d-block">
                            {{ form.full_name.errors.0 }}
                        </div>
                    {% endif %}
                </div>

                <div class="col-md-3 mb-3">
                    <label class="form-label">{{ form.birth_date.label }}</label>
                    {{ form.birth_date }}
                    {% if form.birth_date.errors %}
                        <div class="invalid-feedback d-block">
                            {{ form.birth_date.errors.0 }}
                        </div>
                    {% endif %}
                </div>

                <div class="col-md-3 mb-3">
                    <label class="form-label">{{ form.gender.label }}</label>
                    {{ form.gender }}
                    {% if form.gender.errors %}
                        <div class="invalid-feedback d-block">
                            {{ form.gender.errors.0 }}
                        </div>
                    {% endif %}
                </div>

            </div>

            <div class="row">

                <!-- <div class="col-md-4 mb-3">
                    <label class="form-label">{{ form.snils.label }}</label>
                    {{ form.snils }}
                    {% if form.snils.errors %}
                        <div class="invalid-feedback d-block">
                            {{ form.snils.errors.0 }}
                        </div>
                    {% endif %}
                </div> -->

                <div class="col-md-4 mb-3">
                    <label class="form-label">{{ form.phone.label }}</label>
                    {{ form.phone }}
                    {% if form.phone.errors %}
                        <div class="invalid-feedback d-block">
                            {{ form.phone.errors.0 }}
                        </div>
                    {% endif %}
                </div>

                <div class="col-md-4 mb-3">
                    <label class="form-label">{{ form.email.label }}</label>
                    {{ form.email }}
                </div>

            </div>

            <div class="row">

                <div class="col-md-6 mb-3">
                    <label class="form-label">{{ form.vk.label }}</label>
                    {{ form.vk }}

                    {% if form.vk.errors %}
                        <div class="invalid-feedback d-block">
                            {{ form.vk.errors.0 }}
                        </div>
                    {% endif %}
                </div>

            </div>

            <hr>

            <button type="submit" class="btn btn-success">
            Сохранить
            </button>

            {% if student %}
                <a href="{% url 'student_detail' student.id %}" class="btn btn-secondary">
                    Отмена
                </a>
            {% else %}
                <a href="{% url 'student_list' %}" class="btn btn-secondary">
                    Отмена
                </a>
            {% endif %}

        </form>

    </div>

</div>

<script src="https://unpkg.com/imask"></script>
<script src="{% static 'students/js/input_mask.js' %}"></script>

{% endblock %}